*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      
}
body{
      margin: 0;
      padding: 0;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
}
.container
{
      background-color:rgb(237, 18, 149) ;
      color: rgb(223, 190, 190);
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      /* margin: auto; */
      align-items: center;
      

}
.inner
{
      display: flex;
      justify-content: space-around;
     
}
.items
{
      margin: 1rem 1rem;
      cursor: pointer;
      padding: 1rem 1rem;
      border: 2px solid;
      border-radius: 3rem;
      transition: all 0.1s ease-in 0s;
}
.items:hover{
      background-color: tomato;
}
.footer
{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: fuchsia;
      color: antiquewhite;
}
.body
{
      display:flex;
      /* justify-content: center; */
      flex-wrap: wrap;
}
.data
{
      border: 2px solid black;
      height: 20rem;
      width: 20vw;
      margin: 2rem 2rem;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* align-items: center; */
}
.food
{
      font-size: 1rem;
      font-weight: bold;
}
.input
{
      margin: 2rem 2rem;
      font-size: 2rem;
      
}
input{
      height: 3rem;
      width: 15rem;
}
.btn
{
      margin-left: 0.2rem;
      border-radius: 1.2rem;
      background-color: burlywood;
      font-size: 2rem;
}
.main
{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

}
.mainInner{
      height: 15rem;
      width: 15rem;
      
      border: 1px solid rgb(240, 224, 224);
      background-color: rgb(194, 173, 173);
}
.paras
{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      
}
.Link
{
      color: rgb(217, 19, 158);
      text-decoration: none;
}
.S-btn
{
      margin: 1rem;
      padding: 1rem;
      background-color: rgb(190, 99, 34);
      border-radius: 1.5rem;
}
.innerSwig
{
      display: flex;
      flex-direction: column;
      align-items: center;

}
.hh
{
      margin: 2rem;
}
.innerImg
{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}
.bd
{
      border: 2px solid rgb(231, 162, 162);
      margin: 2rem;
      /* padding: 2rem; */

      
}
.toogle
{
      display: flex;
      margin: auto;
      color: rgb(49, 189, 17);
      align-items: center;
      justify-content: center;

}
.footer{
      position: relative;
      bottom: 0;
      width: 100%;
}
.Main{
      margin-top: 3rem;
      width: 50%;
      margin: auto;
}
.MainInner
{
      display: flex;
      justify-content: space-between;
      /* margin: auto; */
            /* margin-top: 2rem; */
      align-items: center;
      /* width: 50%; */
      border: 1px solid grey;
      margin-top: 2rem;
      padding: 2rem;
      cursor: pointer;

}
.Menu
{
      margin: auto;
}
.btn1
{
      padding: 0.3rem;
      background-color:cadetblue;
      cursor: pointer;
      
}
.container{
      margin-bottom: 2rem;
}
.MenuImg
{
      height: 8rem;
      width: 8rem;
}
.MenuInner
{
      display: flex;
      justify-content: space-between;
      
}
/* .MenuContainer
{
      margin-top:0.2rem ;
} */
.MenuContainer{

      border-bottom:1px solid grey;
      margin-top: 0.2rem;
      background-color: rgb(164, 162, 162);
}
.Name
{
      font-size: 1.7rem;
      font-weight: bold;
}
.Price
{
      font-weight: bold;
      font-size: 1.5rem;
}
.Disc
{
      font-size: 1rem;
}


/*Transistion  */
.Main {
      /* your existing styles for Main container */
      transition: height 0.5s ease; /* Add the transition property */
    }
    
    .menuDataContainer {
      /* your existing styles for MenuData container */
      overflow: hidden; /* Hide content when not expanded */
     
      transition: max-height 0.5s ease; /* Add the transition property */
    }
    .items a{
      text-decoration: none;
    }
    .but
    {
      position: relative;
    bottom:0rem;
    left:58rem;
    background-color: black;
    color: aliceblue;
    font-size: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    padding: 1rem;
    }
    .Delete
    {
      background-color: rgb(8, 8, 8);
      color: white;
      position: relative;
      font-size: 1.5rem; 

      
}
.p-image
{
      filter: drop-shadow(2rem 2rem 2rem white);
      
}
